# Python virtual environment
.venv/
env/
venv/

# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Editor/IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS specific files
.DS_Store

# Environment variables files
.env
*.env

# Instance folder (Flask-specific)
instance/

# Any database files generated locally (e.g., SQLite, but useful for any local DB files)
*.db
*.sqlite
*.sqlite3

# Log files
*.log